source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data
nuget FsUnit.xUnit
nuget xunit

github fsharp/FAKE modules/Octokit/Octokit.fsx