source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data
nuget FsUnit.xUnit
nuget xunit
nuget xunit.runner.visualstudio
nuget xunit.runners
nuget Newtonsoft.Json

github fsharp/FAKE modules/Octokit/Octokit.fsx