source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data
nuget xunit
nuget xunit.runner.visualstudio
nuget xunit.runners
nuget Newtonsoft.Json
nuget FsUnit.xUnit

github fsharp/FAKE modules/Octokit/Octokit.fsx